{% load staticfiles %}

<header>
    <div class="header grid group">
        <div class="logo">
            <a href="#"><img src="{% static 'images/logo.png' %}" alt="logotype"></a>

            <h3>Orta Asya Araştırmaları Merkezi </h3>
        </div>

        <ul class="languages">
            <li>Select Language:</li>
            <li><a href="#"><img src="{% static 'images/turkish.png' %}" alt="icon"></a></li>
            <li><a href="#"><img src="{% static 'images/kyrgyz.png' %}" alt="icon"></a></li>
            <li><a href="#"><img src="{% static 'images/russian.png' %}" alt="icon"></a></li>
            <li><a href="#"><img src="{% static 'images/english.png' %}" alt="icon"></a></li>
        </ul>
    </div>

    <nav>
        <div class="nav_bar grid group">
            <ul class="menu">
                <li>
                    <a href="{% url 'index' %}">Orasam</a>
                    <ul class="submenu">
                        <li><a href="{% url 'about' %}">Hakkımızda</a></li>
                        <li><a href="{% url 'members' %}">Kadromuz</a></li>
                        <li><a href="{% url 'group' %}">Araştırma Gruplarımız</a></li>
                        <li><a href="{% url 'partners' %}">Ortaklarımız</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'activity' %}">Etkinlikler</a></li>
                <li>
                    <a href="{% url 'news' %}">Haberler</a>
                    <ul class="submenu">
                        <li><a href="{% url 'country' %}">Ulkeler</a></li>
                        <li><a href="#">Konular</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Yayinlar</a>
                    <ul class="submenu">
                        <li><a href="#">Bültenler</a></li>
                        <li><a href="#">Değerlendirmeler</a></li>
                        <li><a href="#">Makaleler</a></li>
                        <li><a href="#">Raporlar</a></li>
                        <li><a href="{% url 'book' %}">Kitaplar</a></li>
                    </ul>
                </li>
                <li><a href="#">Projeler</a></li>
                <li><a href="{% url 'contacts' %}">Iletişim</a></li>
            </ul>

            <form method="post" action="#">
                <label for="search">
                    <input type="search" id="search" placeholder="Search">
                </label>
            </form>
        </div>
    </nav>
</header>