{% extends 'main/base.html' %}
{% load staticfiles %}


{% block content %}



    <main>
        <div class="content1 grid">
            <div class="slider">
                {% for item in slides %}
                    <div class="sl_slide">
                        <img src="{{ item.image.url }}" alt="image">
                    </div>
                {% endfor %}

            </div>

            <div class="announcement">
                <div class="title group">
                    <h4>Duyurular</h4>
                    <a href="#">Tum arhiv</a>
                </div>

                <div class="slider_news">
                    {% for item in events %}
                        <div class="sl_news">
                            <div class="img_block">
                                <img src="{{ item.image.url }}" alt="image">
                            </div>
                            <div class="description">
                                <h3><a href="#">{{ item.title }}</a></h3>

                                <p>{{ item.description }}
                                </p>

                                <div class="link group">
                                    <a href="#">REad more</a>
                                    <span>16.02.2017</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="news">
                <div class="title group">
                    <h4>Haberler</h4>
                    <a href="#">Tum arhiv</a>
                </div>

                <div class="slider_news">
                    {% for item in news %}
                        <div class="sl_news">
                            <div class="img_block">
                                <img src="{{ item.image.url }}" alt="image">
                            </div>
                            <div class="description">
                                <h3><a href="#">{{ item.title }}</a></h3>

                                <p>{{ item.description }}
                                </p>

                                <div class="link group">
                                    <a href="#">REad more</a>
                                    <span>16.02.2017</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>

            <div class="publications">
                <div class="title group">
                    <h4>Yayinlar</h4>
                    <a href="#">Tum arhiv</a>
                </div>

                <div class="slider_news">
                    {% for item in publication %}
                        <div class="sl_news">
                            <div class="img_block">
                                <img src="{{ item.image.url }}" alt="image">
                            </div>
                            <div class="description">
                                <h3><a href="#">{{ item.title }}</a></h3>

                                <p>{{ item.description }}
                                </p>

                                <div class="link group">
                                    <a href="#">REad more</a>
                                    <span>16.02.2017</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="information">
                <h3>ORTA ASYA ARAŞTIRMALARI MERKEZİ ( ORASAM )</h3>

                <p>Кırgızistan-Türkiye “Manas” Üniversitesi’nin Orta Asya Araştırmaları Merkezi (ORASAM) Eylül 2011
                    yılında kurularak faaliyete geçmiştir. ORASAM’ın temel amaçları arasında Orta Asya bölgesi, çevre
                    halkları ve devletleri ile ilgili siyasal-diplomatik, stratejik, ekonomik, sosyal, eğitim ve
                    kültürel alanlarda ulusal ve uluslararası düzeyde araştırmaların yapılması ve özendirilmesine
                    yönelik akademik çalışmaların organizasyonu ve koordinasyonunun sağlanması ve yürütülmesi
                    öngörülmüştür. Bunun yanında, Orta Asya Araştırma Merkezi uluslararası kuruluşlara, Kırgızistan ve
                    Türkiye’deki kamu ve özel kuruluşlara bölgedeki siyasi, sosyal, ekonomik ve eğitimsel konularda
                    danışmanlık hizmeti vermek, uluslararası düzeyde akademik yayınlar, raporlar ve kitaplar yayınlamak
                    ve yayınlanmasını özendirmeyi amaçlamaktadır. Diğer amaçları ise, Orta Asya ülkeleri ile diğer
                    ülkeler arasında ortak stratejik etkinlikler düzenlemek, ilmi çalışmalar ve projelerin teşvik
                    edilmesi ve yapılmasına öncülük etmek, akademisyen ve öğrenci değişim programlarının
                    geliştirilmesine katkı sağlamaktadır. Bu amaçlar doğrultusunda Merkezimiz, Orta Asya ve çevre
                    ülkelerindeki üniversiteler, araştırma merkezleri, sivil toplum kuruluşları, devlet ve uluslararası
                    kurumlar ile işbirliği yapmakta ve uluslararası, bölgesel ve ulusal düzeyde kongre, sempozyum,
                    çalıştay, konferans, forum, panel vb. akademik faaliyetler düzenlemektedir.</p>
                <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve Eğitim
                    olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet yürütmektedir.
                    Araştırmacılara yardımcı olmak üzere çalışma alanlarıyla ilgili analiz ve raporlar Merkezin internet
                    sayfasında bulunabilir.</p>
            </div>
        </div>
    </main>

{% endblock %}