{% extends 'main/base.html' %}

{% load staticfiles %}



{% block content %}


    <div class="a_bg">
        <div class="a_content grid">
            <h4>Duyurular</h4>

            <div class="activities">
                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}