{% extends 'main/base.html' %}

{% load staticfiles %}



{% block content %}
    <header>
        <div class="header grid group">
            <div class="logo">
                <a href="#"><img src="assets/images/logo.png" alt="logotype"></a>

                <h3>Orta Asya Araştırmaları Merkezi </h3>
            </div>

            <ul class="languages">
                <li>Select Language:</li>
                <li><a href="#"><img src="assets/images/turkish.png" alt="icon"></a></li>
                <li><a href="#"><img src="assets/images/kyrgyz.png" alt="icon"></a></li>
                <li><a href="#"><img src="assets/images/russian.png" alt="icon"></a></li>
                <li><a href="#"><img src="assets/images/english.png" alt="icon"></a></li>
            </ul>
        </div>

        <nav>
            <div class="nav_bar grid group">
                <ul class="menu">
                    <li>
                        <a href="#">Orasam</a>
                        <ul class="submenu">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Kadromuz</a></li>
                            <li><a href="#">Araştırma Gruplarımız</a></li>
                            <li><a href="#">Ortaklarımız</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Etkinlikler</a></li>
                    <li>
                        <a href="#">Haberler</a>
                        <ul class="submenu">
                            <li><a href="#">Ulkeler</a></li>
                            <li><a href="#">Konular</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Yayinlar</a>
                        <ul class="submenu">
                            <li><a href="#">Bültenler</a></li>
                            <li><a href="#">Değerlendirmeler</a></li>
                            <li><a href="#">Makaleler</a></li>
                            <li><a href="#">Raporlar</a></li>
                            <li><a href="#">Kitaplar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Projeler</a></li>
                    <li><a href="#">Iletişim</a></li>
                </ul>

                <form method="post" action="#">
                    <label for="search">
                        <input type="search" id="search" placeholder="Search">
                    </label>
                </form>
            </div>
        </nav>
    </header>

    <div class="a_bg">
        <div class="a_content grid">
            <h4>Duyurular</h4>

            <div class="activities">
                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>

                <div class="sl_news">
                    <div class="img_block">
                        <img src="assets/images/news_img1.jpg" alt="image">
                    </div>
                    <div class="description">
                        <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                        <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve
                            Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                            yürütmektedir. Araştırmacılara yardımcı...
                        </p>

                        <div class="link group">
                            <a href="#">REad more</a>
                            <span>16.02.2017</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}