{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="a_bg">
        <div class="a_content grid">
            <h4>Etkinlikler</h4>

            <div class="activities">
                {% for item in events %}
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="{{ item.image.url }}" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="{% url 'single_event' id=item.id %}">{{ item.title }}</a></h3>

                            <p>{{ item.description }}
                            </p>

                            <div class="link group">
                                <a href="{% url 'single_event' id=item.id %}">REad more</a>
                                <span>{{ item.timestamp }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}