{% extends 'main/base.html' %}

{% load staticfiles %}


{% block content %}
    <div class="b_bg">
        <div class="b_content grid">
            <h4>Kitaplar</h4>

            <div class="books">
                {% for item in books %}
                    <div class="book">
                        <div class="book_img">
                            <img src="{{ item.image.url }}" alt="book">
                        </div>

                        <ul class="book_desc">
                            <li>{{ item.title }}</li>
                            <li>Baş Editör:</li>
                            <li>{{ item.editor }}</li>
                            <li>Redaktör:</li>
                            <li>{{ item.redaktor }}</li>
                            <li>Hazırlayanlar:</li>
                            <li>{{ item.prepare }}</li>
                            <li>{{ item.description }}
                            </li>
                            <li><a href="{{ item.link_download }}" target="_blank">Kitabı indirmek için tıklayınız</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}