{% extends 'main/base.html' %}

{% load staticfiles %}


{% block content %}
    <div class="b_bg">
        <div class="b_content grid">
            <h4>Kitaplar</h4>

            <div class="books">
                <div class="book">
                    <div class="book_img">
                        <img src="{% static 'images/book_img.jpg' %}" alt="book">
                    </div>

                    <ul class="book_desc">
                        <li>22 YILLIK TECRÜBENİN ISIĞINDA KIRGIZİSTAN-TÜRKİYE İLİŞKİLERİNİN GELECEĞİ</li>
                        <li>Baş Editör:</li>
                        <li>Prof. Dr. Sebahattin Balcı</li>
                        <li>Redaktör:</li>
                        <li>Altınbek Coldoşev</li>
                        <li>Hazırlayanlar:</li>
                        <li>Yrd. Doç. Dr. Seyit Ali Avcu</li>
                        <li>Bu kitapta 24-25 Mayıs 2013 tarihlerinde Kırgızistan-Türkiye Manas Üniversitesi’nde
                            düzenlenen «22 Yıllık Tercübenin Işığında Kırgızistan-Türkiye İlişkilerinin
                            Geleceği»Sempozyumunda sunulan materyaller yer almaktadır.
                        </li>
                        <li><a href="#">Kitabı indirmek için tıklayınız</a></li>
                    </ul>
                </div>

                <div class="book">
                    <div class="book_img">
                        <img src="{% static 'images/book_img.jpg' %}" alt="book">
                    </div>

                    <ul class="book_desc">
                        <li>22 YILLIK TECRÜBENİN ISIĞINDA KIRGIZİSTAN-TÜRKİYE İLİŞKİLERİNİN GELECEĞİ</li>
                        <li>Baş Editör:</li>
                        <li>Prof. Dr. Sebahattin Balcı</li>
                        <li>Redaktör:</li>
                        <li>Altınbek Coldoşev</li>
                        <li>Hazırlayanlar:</li>
                        <li>Yrd. Doç. Dr. Seyit Ali Avcu</li>
                        <li>Bu kitapta 24-25 Mayıs 2013 tarihlerinde Kırgızistan-Türkiye Manas Üniversitesi’nde
                            düzenlenen «22 Yıllık Tercübenin Işığında Kırgızistan-Türkiye İlişkilerinin
                            Geleceği»Sempozyumunda sunulan materyaller yer almaktadır.
                        </li>
                        <li><a href="#">Kitabı indirmek için tıklayınız</a></li>
                    </ul>
                </div>

                <div class="book">
                    <div class="book_img">
                        <img src="assets/images/book_img.jpg" alt="book">
                    </div>

                    <ul class="book_desc">
                        <li>22 YILLIK TECRÜBENİN ISIĞINDA KIRGIZİSTAN-TÜRKİYE İLİŞKİLERİNİN GELECEĞİ</li>
                        <li>Baş Editör:</li>
                        <li>Prof. Dr. Sebahattin Balcı</li>
                        <li>Redaktör:</li>
                        <li>Altınbek Coldoşev</li>
                        <li>Hazırlayanlar:</li>
                        <li>Yrd. Doç. Dr. Seyit Ali Avcu</li>
                        <li>Bu kitapta 24-25 Mayıs 2013 tarihlerinde Kırgızistan-Türkiye Manas Üniversitesi’nde
                            düzenlenen «22 Yıllık Tercübenin Işığında Kırgızistan-Türkiye İlişkilerinin
                            Geleceği»Sempozyumunda sunulan materyaller yer almaktadır.
                        </li>
                        <li><a href="#">Kitabı indirmek için tıklayınız</a></li>
                    </ul>
                </div>

                <div class="book">
                    <div class="book_img">
                        <img src="assets/images/book_img.jpg" alt="book">
                    </div>

                    <ul class="book_desc">
                        <li>22 YILLIK TECRÜBENİN ISIĞINDA KIRGIZİSTAN-TÜRKİYE İLİŞKİLERİNİN GELECEĞİ</li>
                        <li>Baş Editör:</li>
                        <li>Prof. Dr. Sebahattin Balcı</li>
                        <li>Redaktör:</li>
                        <li>Altınbek Coldoşev</li>
                        <li>Hazırlayanlar:</li>
                        <li>Yrd. Doç. Dr. Seyit Ali Avcu</li>
                        <li>Bu kitapta 24-25 Mayıs 2013 tarihlerinde Kırgızistan-Türkiye Manas Üniversitesi’nde
                            düzenlenen «22 Yıllık Tercübenin Işığında Kırgızistan-Türkiye İlişkilerinin
                            Geleceği»Sempozyumunda sunulan materyaller yer almaktadır.
                        </li>
                        <li><a href="#">Kitabı indirmek için tıklayınız</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}