{% extends 'main/base.html' %}

{% load staticfiles %}


{% block content %}

    <div class="g_bg">
        <div class="grid g_content">
            <h4>Ülkeler</h4>

            <div class="containers">
                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/harita1.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc c_desc">
                        <!--<div class="c_title">-->
                        <h3><img src="{% static 'images/turkey.png' %}" alt="image">Türkiye</h3>
                        <!--</div>-->
                        <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan gibi,
                            demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik
                            konumundan
                            dolayı uluslararası arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya
                            devletlerinin siyasal gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının
                            işleyişi,
                            baskı grupları, ülkelerin birbirleriyle ve ülkelerin büyük güçlerle ilgili çalışmalar
                            yaparak
                            bölgenin siyasal yapısının anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter
                            başkanlık
                            sistemini benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                            seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik konumundan dolayı uluslararası arenada
                            önemi
                            artmaktadır. Bu çalışma grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal
                            sistemlerini, yasama, yürütme ve yargının işleyişi, baskı grupları, ülkelerin
                            birbirleriyle.</p>
                    </div>
                </div>

                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/harita2.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc c_desc">
                        <h3><img src="{% static 'images/kg.png' %}" alt="image">Kırgızistan</h3>
                        <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan gibi,
                            demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik
                            konumundan
                            dolayı uluslararası arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya
                            devletlerinin siyasal gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının
                            işleyişi,
                            baskı grupları, ülkelerin birbirleriyle ve ülkelerin büyük güçlerle ilgili çalışmalar
                            yaparak
                            bölgenin siyasal yapısının anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter
                            başkanlık
                            sistemini benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                            seçmişlerdir. </p>
                    </div>
                </div>


                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/harita3.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc c_desc">
                        <h3><img src="{% static 'images/uz.png' %}" alt="image">Özbekistan</h3>
                        <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan gibi,
                            demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik
                            konumundan
                            dolayı uluslararası arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya
                            devletlerinin siyasal gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının
                            işleyişi,
                            baskı grupları, ülkelerin birbirleriyle ve ülkelerin büyük güçlerle ilgili çalışmalar
                            yaparak
                            bölgenin siyasal yapısının anlaşılmasına katkıda bulunmaktır.</p>
                    </div>
                </div>

                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/harita4.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc c_desc">
                        <h3><img src="{% static 'images/kz.png' %}" alt="image">Kazakistan</h3>
                        <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan gibi,
                            demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik
                            konumundan
                            dolayı uluslararası arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya
                            devletlerinin siyasal gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının
                            işleyişi,
                            baskı grupları, ülkelerin birbirleriyle ve ülkelerin büyük güçlerle ilgili çalışmalar
                            yaparak
                            bölgenin siyasal yapısının anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter
                            başkanlık
                            sistemini benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                            seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik konumundan dolayı uluslararası arenada
                            önemi
                            artmaktadır. Bu çalışma grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal
                            sistemlerini, yasama, </p>
                    </div>
                </div>

                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/harita5.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc c_desc">
                        <h3><img src="{% static 'images/tj.png' %}" alt="image">Tacikistan</h3>
                        <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan gibi,
                            demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik
                            konumundan
                            dolayı uluslararası arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya
                            devletlerinin siyasal gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının
                            işleyişi,
                            baskı grupları, ülkelerin birbirleriyle ve ülkelerin büyük güçlerle ilgili çalışmalar
                            yaparak
                            bölgenin siyasal yapısının anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter
                            başkanlık
                            sistemini benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                            seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik konumundan dolayı uluslararası arenada
                            önemi
                            artmaktadır. Bu çalışma grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal
                            sistemlerini, yasama, </p>
                    </div>
                </div>

                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/harita6.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc c_desc">
                        <h3><img src="{% static 'images/tm.png' %}" alt="image">Türkmenistan</h3>
                        <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan gibi,
                            demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik
                            konumundan
                            dolayı uluslararası arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya
                            devletlerinin siyasal gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının
                            işleyişi,
                            baskı grupları, ülkelerin birbirleriyle ve ülkelerin büyük güçlerle ilgili çalışmalar
                            yaparak
                            bölgenin siyasal yapısının anlaşılmasına katkıda bulunmaktır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}