{% extends 'main/base.html' %}

{% load staticfiles %}



{% block content %}
    <div class="g_bg c_bg">
        <div class="grid g_content c_content">
            <h4>Ülkeler</h4>

            <div class="containers">

                <ul class="tabs-nav">
                    <li><a href="#tab-1">Türkiye</a></li>
                    <li><a href="#tab-2">Kırgızistan</a></li>
                    <li><a href="#tab-3">Özbekistan</a></li>
                    <li><a href="#tab-4">Kazakistan</a></li>
                    <li><a href="#tab-5">Tacikistan</a></li>
                    <li><a href="#tab-6">Türkmenistan</a></li>
                </ul>

                <div class="tabs-stage">
                    <div class="all_news" id="tab-1">

                        <div class="g_container">
                            <div class="g_block">
                                <img src="{% static 'images/harita1.jpg' %}" alt="image">
                            </div>

                            <div class="g_desc c_desc">
                                <!--<div class="c_title">-->
                                <h3><img src="{% static 'images/turkey.png' %}" alt="image">Türkiye</h3>
                                <!--</div>-->
                                <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan
                                    gibi, demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin
                                    jeo-stratejik konumundan dolayı uluslararası arenada önemi artmaktadır. Bu çalışma
                                    grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal sistemlerini,
                                    yasama, yürütme ve yargının işleyişi, baskı grupları, ülkelerin birbirleriyle ve
                                    ülkelerin büyük güçlerle ilgili çalışmalar yaparak bölgenin siyasal yapısının
                                    anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter başkanlık sistemini
                                    benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                                    seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik konumundan dolayı uluslararası
                                    arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya devletlerinin
                                    siyasal gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının işleyişi,
                                    baskı grupları, ülkelerin birbirleriyle.</p>
                            </div>
                        </div>

                        <div class="countries">
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="all_news" id="tab-2">

                        <div class="g_container">
                            <div class="g_block">
                                <img src="{% static 'images/harita2.jpg' %}" alt="image">
                            </div>

                            <div class="g_desc c_desc">
                                <h3><img src="{% static 'images/kg.png' %}" alt="image">Kırgızistan</h3>
                                <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan
                                    gibi, demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin
                                    jeo-stratejik konumundan dolayı uluslararası arenada önemi artmaktadır. Bu çalışma
                                    grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal sistemlerini,
                                    yasama, yürütme ve yargının işleyişi, baskı grupları, ülkelerin birbirleriyle ve
                                    ülkelerin büyük güçlerle ilgili çalışmalar yaparak bölgenin siyasal yapısının
                                    anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter başkanlık sistemini
                                    benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                                    seçmişlerdir. </p>
                            </div>
                        </div>

                        <div class="countries">
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="all_news" id="tab-3">

                        <div class="g_container">
                            <div class="g_block">
                                <img src="{% static 'images/harita3.jpg' %}" alt="image">
                            </div>

                            <div class="g_desc c_desc">
                                <h3><img src="{% static 'images/uz.png' %}" alt="image">Özbekistan</h3>
                                <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan
                                    gibi, demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin
                                    jeo-stratejik konumundan dolayı uluslararası arenada önemi artmaktadır. Bu çalışma
                                    grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal sistemlerini,
                                    yasama, yürütme ve yargının işleyişi, baskı grupları, ülkelerin birbirleriyle ve
                                    ülkelerin büyük güçlerle ilgili çalışmalar yaparak bölgenin siyasal yapısının
                                    anlaşılmasına katkıda bulunmaktır.</p>
                            </div>
                        </div>

                        <div class="countries">
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="all_news" id="tab-4">

                        <div class="g_container">
                            <div class="g_block">
                                <img src="{% static 'images/harita4.jpg' %}" alt="image">
                            </div>

                            <div class="g_desc c_desc">
                                <h3><img src="{% static 'images/kz.png' %}" alt="image">Kazakistan</h3>
                                <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan
                                    gibi, demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin
                                    jeo-stratejik konumundan dolayı uluslararası arenada önemi artmaktadır. Bu çalışma
                                    grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal sistemlerini,
                                    yasama, yürütme ve yargının işleyişi, baskı grupları, ülkelerin birbirleriyle ve
                                    ülkelerin büyük güçlerle ilgili çalışmalar yaparak bölgenin siyasal yapısının
                                    anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter başkanlık sistemini
                                    benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                                    seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik konumundan dolayı uluslararası
                                    arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya devletlerinin
                                    siyasal gelişimini, siyasal sistemlerini, yasama, </p>
                            </div>
                        </div>

                        <div class="countries">
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="all_news" id="tab-5">

                        <div class="g_container">
                            <div class="g_block">
                                <img src="{% static 'images/harita5.jpg' %}" alt="image">
                            </div>

                            <div class="g_desc c_desc">
                                <h3><img src="{% static 'images/tj.png' %}" alt="image">Tacikistan</h3>
                                <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan
                                    gibi, demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin
                                    jeo-stratejik konumundan dolayı uluslararası arenada önemi artmaktadır. Bu çalışma
                                    grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal sistemlerini,
                                    yasama, yürütme ve yargının işleyişi, baskı grupları, ülkelerin birbirleriyle ve
                                    ülkelerin büyük güçlerle ilgili çalışmalar yaparak bölgenin siyasal yapısının
                                    anlaşılmasına katkıda bulunmaktır. Bazı devletler otoriter başkanlık sistemini
                                    benimserken, bazıları da, Kırgızistan gibi, demokratik parlamenter sistemi
                                    seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik konumundan dolayı uluslararası
                                    arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya devletlerinin
                                    siyasal gelişimini, siyasal sistemlerini, yasama, </p>
                            </div>
                        </div>

                        <div class="countries">
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="all_news" id="tab-6">

                        <div class="g_container">
                            <div class="g_block">
                                <img src="{% static 'images/harita6.jpg' %}" alt="image">
                            </div>

                            <div class="g_desc c_desc">
                                <h3><img src="{% static 'images/tm.png' %}" alt="image">Türkmenistan</h3>
                                <p>Bazı devletler otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan
                                    gibi, demokratik parlamenter sistemi seçmişlerdir. Diğer taraftan bölgenin
                                    jeo-stratejik konumundan dolayı uluslararası arenada önemi artmaktadır. Bu çalışma
                                    grubunun amacı, Orta Asya devletlerinin siyasal gelişimini, siyasal sistemlerini,
                                    yasama, yürütme ve yargının işleyişi, baskı grupları, ülkelerin birbirleriyle ve
                                    ülkelerin büyük güçlerle ilgili çalışmalar yaparak bölgenin siyasal yapısının
                                    anlaşılmasına katkıda bulunmaktır.</p>
                            </div>
                        </div>

                        <div class="countries">
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="assets/images/news_img1.jpg" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                                    <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat,
                                        Sosyoloji ve
                                        Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde
                                        faaliyet
                                        yürütmektedir. Araştırmacılara yardımcı...
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}