{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="g_bg">
        <div class="grid g_content">
            <h4>ORASAM Araştırma Grupları</h4>

            <div class="containers">
                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/rsz_orasam-bina.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc">
                        <h3>Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</h3>
                        <p>Orta Asya Devletlerinin Sovyetler Birliğinin dağılması ile bağımsızlıklarını kazanmalarından
                            itibaren yirmi yıldan fazla bir zaman geçmiştir. Bu süre içinde bu devletler siyasal
                            gelişimlerinde farklı yollar izlemişler ve farklı yerlere gelmişlerdir. Bazı devletler
                            otoriter başkanlık sistemini benimserken, bazıları da, Kırgızistan gibi, demokratik
                            parlamenter
                            sistemi seçmişlerdir. Diğer taraftan bölgenin jeo-stratejik konumundan dolayı uluslararası
                            arenada önemi artmaktadır. Bu çalışma grubunun amacı, Orta Asya devletlerinin siyasal
                            gelişimini, siyasal sistemlerini, yasama, yürütme ve yargının işleyişi, baskı grupları,
                            ülkelerin birbirleriyle ve ülkelerin büyük güçlerle ilgili çalışmalar yaparak bölgenin
                            siyasal yapısının anlaşılmasına katkıda bulunmaktır.</p>
                    </div>
                </div>

                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/rsz_orasam-bina.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc">
                        <h3>Eğitim Çalışma Grubu</h3>
                        <p>Eğitim toplumların gelişmesinde ve geleceklerinin güven altına alınmasında en önemli araçtır.
                            Bu nedenle çocuklar okul öncesi eğitimden lisansüstü eğitime kadar çağdaş eğitim araçları ve
                            yöntemleri kullanılarak çok iyi bir eğitim almalıdırlar. Orta Asya Devletleri bağımsızlıktan
                            itibaren eğitim konusunda büyük problemler ile karşı karşıya kalmışlardır. Eğitim Çalışma
                            Grubunun amacı bu problemleri tesbit etmek, çözüm önerileri yapmak ve bu konuda projeler
                            yürütmektir.</p>
                    </div>
                </div>


                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/rsz_orasam-bina.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc">
                        <h3>Ekonomi Çalışma Grubu</h3>
                        <p>Ekonomi çalışma grubunun temel çalışma faaliyet alanları olarak Orta Asya ülkelerinde
                            ekonomik
                            durumun ve ülkelerarası ekonomik ilişkilerin incelenmesi olmaktadır. Genel makro ekonomik
                            performans, ekonomik entegrasyon süreçleri, altyapı ve ulaşım, enerji gibi konuların
                            incelenmesiyle birlikte, diğer çalışma grupları ile birlikte sosyal ve siyasi konuların
                            ekonomik boyutlarının incelenmesi amacıyla multi-disipliner çalışmalar da yapılmaktadır.</p>
                    </div>
                </div>

                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/rsz_orasam-bina.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc">
                        <h3>Sosyoloji Çalışma Grubu </h3>
                        <p>Sovyetler Birliğinin dağılmasından sonra Orta Asya Cumhuriyetleri hızlı bir sosyal değişme
                            sürecine girmişlerdir. Ekonomik ve siyasi gelişmelere paralel olarak toplumlar da
                            değişmektedirler ve yeni devletler küresel ekonomiye entegre oldukça bu değişim devam
                            etmektedir. Bu değişiklikler birçok sorunu da beraberinde getirmektedir. Nesiller arası
                            farklılıktan dolayı bölge gençliğinin özlemleri, hayat görüşleri ve beklentileri
                            ebeveynlerinkinden farklıdır. Din üzerindeki baskıların azalması sonucu, dini grupların
                            bölgedeki etkinliklerinde belirli bir artma gözlenmiştir. Diğer taraftan ekonomik gelişmenin
                            eşit olmaması nedeniyle iç ve dış göçler toplumların yapısını değiştirmektedir. Sosyoloji
                            çalışma grubu Orta Asya toplumlarında aile, din, etnik gruplar, sosyal değişme, göçler, gibi
                            konularda araştırma ve projeler yaparak toplumların anlaşılmasına katkıda bulunmayı
                            amaçlamaktadır. </p>
                    </div>
                </div>

                <div class="g_container">
                    <div class="g_block">
                        <img src="{% static 'images/rsz_orasam-bina.jpg' %}" alt="image">
                    </div>

                    <div class="g_desc">
                        <h3>Medya Çalışma Grubu</h3>
                        <p>Görsel ve işitsel temalarla bilgiyi insanlara aktaran medya, siyaset ve diplomasinin en
                            önemli
                            araçlarından biridir. Özellikle haber programları kitlelerin politik zihin dünyası inşasında
                            çok önemli bir yer tutmaktadır. Bu yüzden ORASAM Medya çalışma grubu Orta Asya ülkelerindeki
                            güncel durumun ve ülkelerin birbirleriyle olan etkileşimlerinin nabzını tutan faaliyet
                            alanıdır. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}