{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="n_bg">
        <div class="n_content grid">

            <h4>Konular</h4>

            <ul class="tabs-nav m_tabs">
                <li><a href="#tab-1">Diplomasi</a></li>
                <li><a href="#tab-2">Ekonomi</a></li>
                <li><a href="#tab-3">Enerji</a></li>
                <li><a href="#tab-4">Güvenlik</a></li>
                <li><a href="#tab-5">Hukuk</a></li>
                <li><a href="#tab-6">İletişim</a></li>
                <li><a href="#tab-7">Siyaset</a></li>
                <li><a href="#tab-8">Tarım</a></li>
                <li><a href="#tab-9">Toplum</a></li>
            </ul>

            <div class="tabs-stage">
                <div class="all_news" id="tab-1">
                    {% for item in news %}
                        {% if item.news_type == "uluslar" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="all_news" id="tab-2">
                    {% for item in news %}
                        {% if item.news_type == "ekonomi" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="all_news" id="tab-3">
                    {% for item in news %}
                        {% if item.news_type == "enerji" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="all_news" id="tab-4">
                    {% for item in news %}
                        {% if item.news_type == "Guvenlik" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="all_news" id="tab-5">
                    {% for item in news %}
                        {% if item.news_type == "hukuk" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="all_news" id="tab-6">
                    {% for item in news %}
                        {% if item.news_type == "iletisim" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="all_news" id="tab-7">
                    {% for item in news %}
                        {% if item.news_type == "siyaset" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="all_news" id="tab-8">
                    {% for item in news %}
                        {% if item.news_type == "tarim" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="all_news" id="tab-9">
                    {% for item in news %}
                        {% if item.news_type == "toplum" %}
                            <div class="sl_news">
                                <div class="img_block">
                                    <img src="{{ item.image.url }}" alt="image">
                                </div>
                                <div class="description">
                                    <h3><a href="#">{{ item.title }}</a>
                                    </h3>

                                    <p>{{ item.description }}
                                    </p>

                                    <div class="link group">
                                        <a href="#">REad more</a>
                                        <span>16.02.2017</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

{% endblock %}