{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="n_bg">
        <div class="n_content grid">

            <h4>Konular</h4>

            <ul class="tabs-nav m_tabs">
                <li><a href="#tab-1">Diplomasi</a></li>
                <li><a href="#tab-2">Ekonomi</a></li>
                <li><a href="#tab-3">Enerji</a></li>
                <li><a href="#tab-4">Güvenlik</a></li>
                <li><a href="#tab-5">Hukuk</a></li>
                <li><a href="#tab-6">İletişim</a></li>
                <li><a href="#tab-7">Siyaset</a></li>
                <li><a href="#tab-8">Tarım</a></li>
                <li><a href="#tab-9">Toplum</a></li>
            </ul>

            <div class="tabs-stage">
                <div class="all_news" id="tab-1">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-2">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-3">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-4">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-5">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-6">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-7">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-8">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="all_news" id="tab-9">
                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="sl_news">
                        <div class="img_block">
                            <img src="assets/images/news_img1.jpg" alt="image">
                        </div>
                        <div class="description">
                            <h3><a href="#">Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</a></h3>

                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve
                                Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar çerçevesinde faaliyet
                                yürütmektedir. Araştırmacılara yardımcı...
                            </p>

                            <div class="link group">
                                <a href="#">REad more</a>
                                <span>16.02.2017</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}