{% extends 'main/base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="m_bg">
        <div class="m_content grid">
            <h4>Kadromuz</h4>
            <div class="members">
                {% for item in members %}
                    <div class="member">
                        <h3><a href="#">{{ item.name }}</a></h3>
                        <div class="m_img">
                            <img src="{{ item.image.url }}" alt="image">
                        </div>
                        <div class="line"></div>
                        <p>{{ item.position }}</p>
                        <p>{{ item.description }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}