{% extends 'main/base.html' %}

{% load staticfiles %}


{% block content %}

    <div class="p_bg">
        <div class="p_content grid">
            <h4>Ortaklarımız</h4>

            <div class="partners">
                {% for item in partners %}
                    <a href="#" class="partner">
                        <div class="p_img">
                            <img src="{{ item.image.url }}" alt="turkpa">
                        </div>

                        <h3>{{ item.title }}</h3>

                        <p>{{ item.description }}</p>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}