{% extends 'main/base.html' %}

{% load staticfiles %}


{% block content %}

    <div class="p_bg">
        <div class="p_content grid">
            <h4>Ortaklarımız</h4>

            <div class="partners">
                <a href="#" class="partner">
                    <div class="p_img">
                        <img src="{% static 'images/partner1.jpg' %}" alt="turkpa">
                    </div>

                    <h3>TÜRK DİLİ KONUŞAN ÜLKELER PARLAMENTER ASAMBLESİ - TURKPA</h3>

                    <p>Türk Dili Konuşan Ülkeler Parlamenter Asamblesi ya da kısacaTÜRKPA, 21 Kasım 2008 tarihinde
                        kurulan
                        ve temeli Türk Dili Konuşan Ülkeler Parlamenter Asamblesi'ne (TÜRKPA) dair anlaşmaya dayanan
                        parlamentolar arası işbirliği. Türk-Pa Türkiye, Azerbaycan, Kazakistan ve Kırgızistan arasında
                        imzalanmıştır.</p>
                </a>

                <a href="#" class="partner">
                    <div class="p_img">
                        <img src="{% static 'images/partner1.jpg' %}" alt="turkpa">
                    </div>

                    <h3>TÜRK DİLİ KONUŞAN ÜLKELER PARLAMENTER ASAMBLESİ - TURKPA</h3>

                    <p>Türk Dili Konuşan Ülkeler Parlamenter Asamblesi ya da kısacaTÜRKPA, 21 Kasım 2008 tarihinde
                        kurulan
                        ve temeli Türk Dili Konuşan Ülkeler Parlamenter Asamblesi'ne (TÜRKPA) dair anlaşmaya dayanan
                        parlamentolar arası işbirliği. Türk-Pa Türkiye, Azerbaycan, Kazakistan ve Kırgızistan arasında
                        imzalanmıştır.</p>
                </a>

                <a href="#" class="partner">
                    <div class="p_img">
                        <img src="{% static 'images/partner1.jpg' %}" alt="turkpa">
                    </div>

                    <h3>TÜRK DİLİ KONUŞAN ÜLKELER PARLAMENTER ASAMBLESİ - TURKPA</h3>

                    <p>Türk Dili Konuşan Ülkeler Parlamenter Asamblesi ya da kısacaTÜRKPA, 21 Kasım 2008 tarihinde
                        kurulan
                        ve temeli Türk Dili Konuşan Ülkeler Parlamenter Asamblesi'ne (TÜRKPA) dair anlaşmaya dayanan
                        parlamentolar arası işbirliği. Türk-Pa Türkiye, Azerbaycan, Kazakistan ve Kırgızistan arasında
                        imzalanmıştır.</p>
                </a>

                <a href="#" class="partner">
                    <div class="p_img">
                        <img src="{% static 'images/partner1.jpg' %}" alt="turkpa">
                    </div>

                    <h3>TÜRK DİLİ KONUŞAN ÜLKELER PARLAMENTER ASAMBLESİ - TURKPA</h3>

                    <p>Türk Dili Konuşan Ülkeler Parlamenter Asamblesi ya da kısacaTÜRKPA, 21 Kasım 2008 tarihinde
                        kurulan
                        ve temeli Türk Dili Konuşan Ülkeler Parlamenter Asamblesi'ne (TÜRKPA) dair anlaşmaya dayanan
                        parlamentolar arası işbirliği. Türk-Pa Türkiye, Azerbaycan, Kazakistan ve Kırgızistan arasında
                        imzalanmıştır.</p>
                </a>

                <a href="#" class="partner">
                    <div class="p_img">
                        <img src="{% static 'images/partner1.jpg' %}" alt="turkpa">
                    </div>

                    <h3>TÜRK DİLİ KONUŞAN ÜLKELER PARLAMENTER ASAMBLESİ - TURKPA</h3>

                    <p>Türk Dili Konuşan Ülkeler Parlamenter Asamblesi ya da kısacaTÜRKPA, 21 Kasım 2008 tarihinde
                        kurulan
                        ve temeli Türk Dili Konuşan Ülkeler Parlamenter Asamblesi'ne (TÜRKPA) dair anlaşmaya dayanan
                        parlamentolar arası işbirliği. Türk-Pa Türkiye, Azerbaycan, Kazakistan ve Kırgızistan arasında
                        imzalanmıştır.</p>
                </a>

                <a href="#" class="partner">
                    <div class="p_img">
                        <img src="{% static 'images/partner1.jpg' %}" alt="turkpa">
                    </div>

                    <h3>TÜRK DİLİ KONUŞAN ÜLKELER PARLAMENTER ASAMBLESİ - TURKPA</h3>

                    <p>Türk Dili Konuşan Ülkeler Parlamenter Asamblesi ya da kısacaTÜRKPA, 21 Kasım 2008 tarihinde
                        kurulan
                        ve temeli Türk Dili Konuşan Ülkeler Parlamenter Asamblesi'ne (TÜRKPA) dair anlaşmaya dayanan
                        parlamentolar arası işbirliği. Türk-Pa Türkiye, Azerbaycan, Kazakistan ve Kırgızistan arasında
                        imzalanmıştır.</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}