<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ORASAM</title>
    <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <div class="header grid group">
        <div class="logo">
            <a href="#"><img src="assets/images/logo.png" alt="logotype"></a>

            <h3>Orta Asya Araştırmaları Merkezi </h3>
        </div>

        <ul class="languages">
            <li>Select Language:</li>
            <li><a href="#"><img src="assets/images/turkish.png" alt="icon"></a></li>
            <li><a href="#"><img src="assets/images/kyrgyz.png" alt="icon"></a></li>
            <li><a href="#"><img src="assets/images/russian.png" alt="icon"></a></li>
            <li><a href="#"><img src="assets/images/english.png" alt="icon"></a></li>
        </ul>
    </div>

    <nav>
        <div class="nav_bar grid group">
            <ul class="menu">
                <li>
                    <a href="#">Orasam</a>
                    <ul class="submenu">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Kadromuz</a></li>
                        <li><a href="#">Araştırma Gruplarımız</a></li>
                        <li><a href="#">Ortaklarımız</a></li>
                    </ul>
                </li>
                <li><a href="#">Etkinlikler</a></li>
                <li>
                    <a href="#">Haberler</a>
                    <ul class="submenu">
                        <li><a href="#">Ulkeler</a></li>
                        <li><a href="#">Konular</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Yayinlar</a>
                    <ul class="submenu">
                        <li><a href="#">Bültenler</a></li>
                        <li><a href="#">Değerlendirmeler</a></li>
                        <li><a href="#">Makaleler</a></li>
                        <li><a href="#">Raporlar</a></li>
                        <li><a href="#">Kitaplar</a></li>
                    </ul>
                </li>
                <li><a href="#">Projeler</a></li>
                <li><a href="#">Iletişim</a></li>
            </ul>

            <form method="post" action="#">
                <label for="search">
                    <input type="search" id="search" placeholder="Search">
                </label>
            </form>
        </div>
    </nav>
</header>

<div class="article">
    <div class="article_container grid">
        <div class="article_block s_project">
            <h4>кАК АКТЕРУ МАССОВКИ СТАТЬ ЗВЕЗДОЙ КИНО? Советы начинающим актерам от профессионалов</h4>
            <!--<span>15. 12. 2016</span>-->


            <!--<div class="article_img">-->
                <!--<img src="assets/images/rsz_1img_0538-2.jpg" alt="image">-->
            <!--</div>-->

            <p>
                Студийный генератор, пользующийся наибольшей популярностью во всем мире, и на то есть убедительные
                причины. Pro-8 – это наш флагман. Его характеризует предельно короткое время перезарядки, длительность
                импульса, способная «заморозить» движение при съемке, непревзойденная надежность и цветовая
                стабильность.
                Многие молодые люди мечтают о славе и признании сверстников. Особенно в юные годы, когда влияние
                родителей ослабевает, и одобрение друзей становится значительно важнее, чем поощрение взрослых,
                девушки и парни активно ломают голову над тем, как стать знаменитым и успешным человеком. Юная
                леди продумывает способы, как стать знаменитой певицей, а молодой парень разучивает аккорды на гитаре,
                мечтая снискать славу Джона Леннона или Владимира Высоцкого. Кажется, что все житейские проблемы
                отойдут на второй план, если вдруг на голову упадет ошеломляющий успех среди одноклассников в школе
                или сокурсников в университете. В последнее время молодежь всех возрастов проводит все больше времени
                в интернете. Немало усилий уходит на то, чтоб собрать вокруг себя как можно больше френдов. В Вконтакте
                или на Одноклассниках. Ведь, как сейчас можно стать знаменитым в интернете? Очень просто: нужно лишь
                регулярно постить интересные новости и собирать лайки знакомых и друзей. Но что, если ты только начала
                этот путь и еще не стала популярной личностью? Как быть, если в школе у тебя не очень много друзей,
                а стать знаменитой все же хочется? Давай рассмотрим наиболее выигрышные стратегии. ОТЫЩИ СВОЮ ИЗЮМИНКУ
                Обрати внимание на звезд эстрады, кино или музыки, людей, которые снискали славу в самых различных
                областях. Чем они выделяются из толпы? Правильно, у каждого есть отличительная черта – сильный голос,
                харизма, манера поведения, — которые делают человека уникальным в своем роде. К таким артистам,
                музыкантам, спортсменам тянуться остальные. Им хочется подражать, у них охота учиться. Подумай,
                какими уникальными талантами обладаешь ты.
            </p>

            <!--<ul class="post_share">-->
                <!--<li>Поделиться статьей:</li>-->
                <!--<li><img src="assets/images/social1.png" alt="image"></li>-->
                <!--<li><img src="assets/images/social2.png" alt="image"></li>-->
                <!--<li><img src="assets/images/social3.png" alt="image"></li>-->
                <!--<li><img src="assets/images/social4.png" alt="image"></li>-->
            <!--</ul>-->

            <div class="gallery">
                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>

                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>

                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>

                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>

                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>

                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>

                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>

                <a href="assets/images/g_img1.jpg" class="g_img item">
                    <div class="shoot_hover"></div>
                    <img src="assets/images/g_img1.jpg" alt="image">
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer grid">
        <a href="#"><img src="assets/images/footer_logo.png" alt="image"></a>
        <div class="contacts">
            <h6>İletişim</h6>
            <p>Cengiz Aytmatov Kampüsü, Uygulama ve Araştırma Merkezleri Binası, Kırgızistan-Türkiye "Manas" Üniversitesi, Cal, Bişkek, Kırgızistan<br> Tel: 0312-25-31-28     E-mail: orasam@manas.edu.kg </p>
        </div>
    </div>
</footer>

<script src="assets/js/jquery-3.1.0.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>